body {
	/*background:#549ddc !important;*/
	margin:0;
	padding:0;
	background:#f4f4f4;
}

.bgmap {
	background:url("map-id.png") #357ebd right no-repeat;
	height:100px;
}

.header-main {
	height:100px;
}

.btn {
	text-align:left !important;
}

.peta {
	background:url("../img/3d-map-id.png") no-repeat center center fixed;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	height:100%;
	width:100%;
	position:absolute;
}

.peta h2 {
	margin-top:5px !important;
}

.panel-body > h4 {
	border-bottom: #ddd 1px solid;
	margin-top: 0px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	padding-bottom:5px;
	color:#428bca;
	font-weight:bold;
}

.login {
	background:#6aa4ec;
	height: 100%;
    position: absolute;
    width: 100%;
}

.login h3 {
 	font:bold 14pt Arial;
 color:#428bca;;
}

.login h4 {
 	font:bold 8pt Arial;
 color:#428bca;
 padding-top:10px;
}

#loginform button {
	text-align:center !important;
}

.nav {
	font-size:12px !important;
}

.navbar-collapse{
	background:#6aa4ec;
	border-radius:0 0 10px 10px;
}

.navbar-default {
	background-image: none !important;
    background-color: transparent !important;
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0) inset, 0 0px 0px rgba(0, 0, 0, 0);
	border-bottom: none !important;
	margin-top: 42px;
	position: absolute;
    top: 99px;
    z-index: 999;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	border-color: transparent !important
}

.navbar-default .navbar-nav > .active > a {
    background-image: none !important;
	background-color: rgba(25, 100, 170, 0) !important;
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.075) inset;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
	font-size:14px !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(25, 100, 170, 0) !important;;
    color: #555;
}

.multilevelpushmenu_wrapper h2 {
    color: #FC0 !important;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    padding: 0 0.4em 8px 0;
}

#btnfx {
 position: fixed; // or relative
 top:200px !important;
 right: 0px;
 z-index:1030;
}

.navbar-inverse {
	background-image: none !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
	color:#FFF !important;
}

.navbar-default .navbar-toggle {
    border-color: #2d6ca2 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.media-body > h4 {
    margin-bottom: 10px;
    margin-top: -5px !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    background-repeat: repeat-x;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.footer h3 {
	margin-top:15px !important;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.dropdown-submenu-wiew {
    position:relative !important;
}

.dropdown-submenu-wiew, .view .dropdown-menu {
	text-align:right !important;
}

.dropdown-submenu-wiew > .dropdown-menu
{
    top:0 !important;
	right:100% !important;
    margin-top:-6px !important;
    margin-left:-1px !important;
    -webkit-border-radius:0 6px 6px 6px !important;
    -moz-border-radius:0 6px 6px 6px !important;
    border-radius:0 6px 6px 6px !important;
	text-align:right !important;
}

.dropdown-submenu-wiew:hover > .dropdown-menu{
    display:block !important;
}

.dropdown-submenu-wiew > a:after{
    display:block !important;
    content:"\f0d9" !important;
	font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit !important;
	color:#999 !important;
    float:left !important;
    width:0 !important;
    height:0 !important;
}

.dropdown-submenu-wiew:hover > a:after{
    border-left-color:#ffffff !important;
}

.dropdown-submenu-wiew .pull-right{
    float:none !important;
}

.dropdown-submenu-wiew .pull-right > .dropdown-menu{
	right:-100% !important;
    margin-left:10px !important;
    -webkit-border-radius:6px 0 6px 6px !important;
    -moz-border-radius:6px 0 6px 6px !important;
    border-radius:6px 0 6px 6px !important;
}

.atas {
	margin-top:10px;
}

.atas2 {
	margin-top:15px;
}

.atas3 {
	margin-top:20px;
}

.bawah {
	margin-bottom:10px;
}

.bawah2 {
	margin-bottom:15px;
}

.bawah3 {
	margin-bottom:20px;
}

.kanan {
	margin-right:10px;
}

.kanan2 {
	margin-right:15px;
}

.kanan3 {
	margin-right:20px;
}

.kiri {
	margin-left:10px;
}

.kiri2 {
	margin-left:15px;
}

.kiri3 {
	margin-left:20px;
}

.atas_p {
	padding-top:10px;
}

.atas_p2 {
	padding-top:5px;
}


.atas2_p {
	padding-top:15px;
}

.atas3_p {
	padding-top:20px;
}

.bawah_p {
	padding-bottom:10px;
}

.bawah2_p {
	padding-bottom:15px;
}

.bawah3_p {
	padding-bottom:20px;
}

.kanan_p {
	padding-right:10px;
}

.kanan2_p {
	padding-right:15px;
}

.kanan3_p {
	padding-right:20px;
}

.kiri_p {
	padding-left:10px;
}

.kiri2_p {
	padding-left:15px;
}

.kiri3_p {
	padding-left:20px;
}

.footer {
	background-color: #357ebd;
	color:#FFF;
	margin-top:0px !important;
}

.footer a {
	color: #FC0;
}

.foot2 {
	background:#428bca;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100% !important;
}

.navfoot > li > a {
    display: block;
    padding: 2px 15px !important;
    position: relative;
}

.navfoot > li > a:hover, .menu-menu-utama-container:focus {
    background-color: #428bca !important;
    text-decoration: none;
	color:#FFF !important;
}

.foot2 p {
	margin-bottom:0px !important;
}

.navfoot {
	list-style: none outside none;
	margin-bottom: 0;
    padding-left: 0;
}

.navfoot > li {
    display: block;
    position: relative;
}

/*
.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
}

.navbar .navbar-collapse {
  text-align: center !important;
}

*/

.scmap {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    list-style: none outside none;
    min-width: 160px;
    position: absolute;
    text-align: left;
	left:20%;
	right:20%;
    z-index: 999;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.navbar-nav > li > a {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

    
@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}
	
	.navbar .navbar-collapse {
		text-align: center;
	}
}

#rightPane {
    margin-top: 0px !important;
    width: 98% !important;
}

.panels {
	width:350px;
	float:left;
	height:405px;
	background:#fff;
	position: absolute;
	left:-350px;
	top:37px;
	z-index:9999999;

}
.slider-arrow {
	padding:10px 12px 10px 10px;
	border-radius: 0 7px 7px 0;
	width:50px;
	float:left;
	background:#fff;
	font:400 12px Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
	position:absolute;
	left:0px;
	top:37px;
	z-index:9999999;
}

.panels2 {
	width:300px;
	float:left;
	height:85%;
	background-color: rgba(255, 255, 255, 0.0);
	position: absolute;
	left:0px;
	top:140px;
	z-index:998;

}
.slider-arrow2 {
	padding:10px 12px 10px 10px;
	width:50px;
	float:left;
	background:#fff;
	font:400 12px Arial, Helvetica, sans-serif;
	color:#C00;
	text-decoration:none;
	position: absolute;
	left:300px;
	top:150px;
	z-index:998;
	border-radius: 0 7px 7px 0;
}

.panel-title a {
	display:block;
	text-decoration: none;
}

.mapb > li > a {
	padding-top:17px !important;
	padding-bottom:17px !important;
}

.box-shadow:after {
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}

.nav > li > a {
    display: block;
    padding: 5px 10px !important;
    position: relative;
}

.navbar-form .form-group input, 
.navbar-form .form-group select,
.navbar-form .form-group .input-group-addon,
.navbar-form .form-group label {
	height: 25px !important;
	padding:0 12px !important;
}

.navbar-form .btn {
	padding: 1px 10px !important;
}

.tab-content .table {
    font-family: calibri;
    margin-bottom: 0 !important;
    max-width: 100%;
    width: 100%;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 2px 8px !important;
    position: relative;
    text-decoration: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 5px !important;
    vertical-align: top;
}

.tab-pane thead {
	background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%) !important;
	color:#fff !important;
}

.basemap_custom {
	width: 300px;
    height: 400px;
    overflow: scroll;
	overflow-x: hidden;
}

.list-group-item span, .list-group-item small {
	line-height:25px !important;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 7px 15px !important;
	background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%) !important;
	border-radius: 6px 6px 0 0;
	color:#fff;
}

button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #fff !important;
    cursor: pointer;
    font-size: 25px !important;
    padding: 0;
}

.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 1 !important;
    text-shadow: 0 1px 0 #fff;
}

.blockC {
	display: table;
    width: 100%;
}

.modal-footer .btn {
	padding: 3px 10px !important;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 13px 15px 13px 15px !important;
    text-align: right;
}

.table {
	border-radius :10px !important;
}

.panel-heading h4 {
	margin-bottom: 0px !important;
    margin-top: 0px !important;
}

#ContentPlaceHolder1_KMLDiv .list-group, #ContentPlaceHolder1_MapDiv .list-group, #ContentPlaceHolder1_WFSDiv .list-group, #ContentPlaceHolder1_WMSDiv .list-group {
	margin-bottom: 0px !important;
}

.clearM {
	margin-bottom: 0px !important;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}

#dijit_layout_ContentPane_0 .input-sm, .form-horizontal .form-group-sm .form-control {
	border-radius: 3px;
    font-size: 12px;
    height: 25px !important;
    line-height: 1.5 !important;
    padding: 0px 10px !important;
}

#dijit_layout_ContentPane_0 .btn-sm, .btn-group-sm > .btn {
	border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 10px;
}

.mapDiv {
	border-radius:5px;
	margin-top:5px;
}

#rightPane1 {
	margin-top: 0px !important;
    width: 98% !important;
}

.navbar-header .media, .navbar-header .media .media {
	margin-top: 5px !important;
}

.panel-body > ul, .checkbox > ul {
list-style-type: none;
padding-left: 0;
}
.panel-body > ul > li > ul, .checkbox > ul > li > ul {
list-style-type: none;
font-size:13px;
font-weight: normal !important;
padding-left: 20px;
}
.panel-body > ul > li > ul > li, .checkbox > ul > li > ul > li {
	margin-bottom:5px;

}
/*
.panel-body > ul > li, .checkbox > ul > li {
	font-size:16px;
	font-weight:bold;
}
*/

.modal-dialog {
    margin: 10px auto !important;
}

.radio, .checkbox label {
	display:block;
}

#accordion .panel-primary > .panel-heading {
	background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%) !important;
	background-color:#cfe5fa !important;
    background-repeat: repeat-x;
    color: #000000;
}

.dijitAccordionChildWrapper #dijit_layout_ContentPane_1 {
	width: 100% !important;
}

.esriPopup {
    margin-top: -30px;
}

.carousel-inner > .item > a > img {
	height:180px !important;
	width:auto !important;
	margin:0 auto !important;
}

.garis-atas {
	border-top:1px #CCC solid;
}

.kosong {
	display:none;
	}

.satu {
	display:inline-block;
}
.carousel-inner .img-thumbnail {
    background-color: transparent !important;
	border: 0px solid #ddd !important;
}
.actionList a {
	text-align:right !important;
}

.modal-open {
    overflow: scroll !important;
}

.hilang {
	display:none !important;
}